[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.gearforest.app",
      "sha256_cert_fingerprints": [
        "<<PLAY_APP_SIGNING_KEY_SHA256>>",
        "<<UPLOAD_KEY_SHA256_OPTIONAL_FOR_LOCAL_DEBUG>>"
      ]
    }
  }
]
